# Godot
.godot/
.import/
.mono/

# Builds / exports
export/
build/
builds/
dist/
*.apk
*.idsig

# Sensitive
export_credentials.cfg
pass/

# IDE
.vscode/
.idea/
.vs/

# .NET / C#
bin/
obj/
*.user
*.userosscache
*.suo
*.sln.iml

# NuGet
packages/
*.nupkg

# Temp / logs / cache
*.tmp
*.temp
*.bak
*.swp
*.swo
*~
~$*
*.log
*.cache
logs/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride