*.apk
*.idsig

# Godot 4+
.godot/

# Godot 3
.import/

# Exported builds
/export/
/build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

.godot/
pass/